<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="testFile" xsi:type="File" fileName="Test.txt" layout="${longdate}; Logger=${logger:shortName=true}; CallStack=${stacktrace}; Message${message}" /> 
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="testFile" />
  </rules>
</nlog>